In [1]:
import pandas as pd
import numpy as np

In [106]:
train = pd.read_csv('/Users/mr.tian/Desktop/train.csv')
stores = pd.read_csv('/Users/mr.tian/Desktop/stores.csv')
features = pd.read_csv('/Users/mr.tian/Desktop/features.csv')

In [107]:
train.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-02-05      24924.50      False
1      1     1  2010-02-12      46039.49       True
2      1     1  2010-02-19      41595.55      False
3      1     1  2010-02-26      19403.54      False
4      1     1  2010-03-05      21827.90      False

In [108]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 13.3+ MB

In [109]:
train['IsHoliday'] = train['IsHoliday'].astype(str)

In [110]:
train = pd.get_dummies(train, columns=['IsHoliday'], drop_first=True, dtype=int)

In [111]:
train['Date'] = pd.to_datetime(train['Date'])
train['year'] = train['Date'].dt.year
train['month'] = train['Date'].dt.month
train['week'] = train['Date'].dt.isocalendar().week.astype(int)

In [112]:
train['month_sin'] = np.sin(2 * np.pi * train['month'] / 12)
train['month_cos'] = np.cos(2 * np.pi * train['month'] / 12)

train['week_sin'] = np.sin(2 * np.pi * train['week'] / 52)
train['week_cos'] = np.cos(2 * np.pi * train['week'] / 52)

In [113]:
train.drop(columns=['month', 'week'], inplace=True)

In [114]:
stores.head()

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [115]:
stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Store   45 non-null     int64
 1   Type    45 non-null     object
 2   Size    45 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.2+ KB

In [116]:
stores = pd.get_dummies(stores, columns=['Type'], drop_first=True, dtype=int)

In [117]:
df1 = pd.merge(train, stores, on='Store', how='left')

In [118]:
df1.head()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Store           421570 non-null  int64
 1   Dept            421570 non-null  int64
 2   Date            421570 non-null  datetime64[ns]
 3   Weekly_Sales    421570 non-null  float64
 4   IsHoliday_True  421570 non-null  int64
 5   year            421570 non-null  int32
 6   month_sin       421570 non-null  float64
 7   month_cos       421570 non-null  float64
 8   week_sin        421570 non-null  float64
 9   week_cos        421570 non-null  float64
 10  Size            421570 non-null  int64
 11  Type_B          421570 non-null  int64
 12  Type_C          421570 non-null  int64
dtypes: datetime64[ns](1), float64(5), int32(1), int64(6)
memory usage: 40.2 MB

In [119]:
features.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [120]:
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8190 non-null   int64
 1   Date          8190 non-null   object
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     4032 non-null   float64
 5   MarkDown2     2921 non-null   float64
 6   MarkDown3     3613 non-null   float64
 7   MarkDown4     3464 non-null   float64
 8   MarkDown5     4050 non-null   float64
 9   CPI           7605 non-null   float64
 10  Unemployment  7605 non-null   float64
 11  IsHoliday     8190 non-null   bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 712.0+ KB

In [125]:
features['Date'] = pd.to_datetime(features['Date'])

In [121]:
markdown = ['MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5']

features[markdown] = features[markdown].fillna(0)

In [122]:
features['Unemployment'] = features['Unemployment'].fillna(features['Unemployment'].median())
features['CPI'] = features['CPI'].fillna(features['CPI'].median())

In [123]:
features.drop(columns=['IsHoliday'], inplace=True)

In [147]:
df = pd.merge(df1, features, on=['Store', 'Date'], how='left')

In [148]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 22 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Store           421570 non-null  int64
 1   Dept            421570 non-null  int64
 2   Date            421570 non-null  datetime64[ns]
 3   Weekly_Sales    421570 non-null  float64
 4   IsHoliday_True  421570 non-null  int64
 5   year            421570 non-null  int32
 6   month_sin       421570 non-null  float64
 7   month_cos       421570 non-null  float64
 8   week_sin        421570 non-null  float64
 9   week_cos        421570 non-null  float64
 10  Size            421570 non-null  int64
 11  Type_B          421570 non-null  int64
 12  Type_C          421570 non-null  int64
 13  Temperature     421570 non-null  float64
 14  Fuel_Price      421570 non-null  float64
 15  MarkDown1       421570 non-null  float64
 16  MarkDown2       421570 non-null  float64
 17  MarkDown3       421570 non-null  float64
 18  MarkDown4       421570 non-null  float64
 19  MarkDown5       421570 non-null  float64
 20  CPI             421570 non-null  float64
 21  Unemployment    421570 non-null  float64
dtypes: datetime64[ns](1), float64(14), int32(1), int64(6)
memory usage: 69.2 MB

In [128]:
#df.drop(columns=['Date'], inplace=True)

In [149]:
df.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday_True,year,month_sin,month_cos,week_sin,week_cos,...,Type_C,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,1,2010-02-05,24924.50,0,2010,0.866025,5.000000e-01,0.568065,0.822984,...,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106
1,1,1,2010-02-12,46039.49,1,2010,0.866025,5.000000e-01,0.663123,0.748511,...,0,38.51,2.548,0.0,0.0,0.0,0.0,0.0,211.242170,8.106
2,1,1,2010-02-19,41595.55,0,2010,0.866025,5.000000e-01,0.748511,0.663123,...,0,39.93,2.514,0.0,0.0,0.0,0.0,0.0,211.289143,8.106
3,1,1,2010-02-26,19403.54,0,2010,0.866025,5.000000e-01,0.822984,0.568065,...,0,46.63,2.561,0.0,0.0,0.0,0.0,0.0,211.319643,8.106
4,1,1,2010-03-05,21827.90,0,2010,1.000000,6.123234e-17,0.885456,0.464723,...,0,46.50,2.625,0.0,0.0,0.0,0.0,0.0,211.350143,8.106

In [131]:
df['log_sales'] = np.log1p(df['Weekly_Sales'].clip(lower=0))

In [133]:
for c in markdown:
    df[c + '_flag'] = (df[c] > 0).astype(int)

In [138]:
# Only for EDA, not merge it back cause data leakage
df2 = df.groupby('Dept', as_index=False).agg(avg_sales=('Weekly_Sales', 'mean'), median_sales=('Weekly_Sales', 'median'))

In [139]:
df2.head()

   Dept     avg_sales  median_sales
0     1  19213.485088      15314.91
1     2  43607.020113      41412.61
2     3  11793.698516       9260.87
3     4  25974.630238      24259.42
4     5  21365.583515      18006.92

In [141]:
X = df.drop(columns=['Store', 'Weekly_Sales', 'log_sales', 'Date'], axis=1)
y = df['log_sales']

In [142]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [150]:
df = df.sort_values('Date')

split_date = df['Date'].quantile(0.8)

train_idx = df['Date'] <= split_date
test_idx  = df['Date'] > split_date

X_train = X.loc[train_idx]
X_test  = X.loc[test_idx]
y_train = y.loc[train_idx]
y_test  = y.loc[test_idx]

In [157]:
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.metrics import r2_score, root_mean_squared_error, mean_absolute_error
from xgboost import XGBRegressor


models = {
    'XGBoost': XGBRegressor(
    n_estimators=300,
    max_depth=6,
    learning_rate=0.05,
    subsample=0.8,
    colsample_bytree=0.8,
    random_state=42,
    n_jobs=-1
),
    'RandomForest': RandomForestRegressor(n_estimators=300, n_jobs=-1, random_state=42)
}

for name, model in models.items():
    model.fit(X_train, y_train)
    pred = model.predict(X_test)
    print(f"{name}",
          f"R2={r2_score(y_test, pred):.4f}",
          f"rmse={root_mean_squared_error(y_test, pred):.4f}",
          f"mae={mean_absolute_error(y_test, pred):.4f}")

XGBoost R2=0.8872 rmse=0.7165 mae=0.4195
RandomForest R2=0.9307 rmse=0.5614 mae=0.2675

In [158]:
rf = models['RandomForest']
importances = pd.Series(
    rf.feature_importances_,
    index=X.columns
).sort_values(ascending=False)

importances.head(15)

Dept            0.711501
Size            0.139334
Type_B          0.044542
CPI             0.021365
week_cos        0.016933
Unemployment    0.016892
Fuel_Price      0.009734
Temperature     0.008820
week_sin        0.008685
month_cos       0.007236
Type_C          0.003841
month_sin       0.002352
year            0.002112
MarkDown3       0.001993
MarkDown2       0.000970
dtype: float64

In [161]:
from sklearn.metrics import mean_squared_error

y_true = np.expm1(y_test)
y_pred = np.expm1(pred)

rmse_sales = np.sqrt(mean_squared_error(y_true, y_pred))
rmse_sales

np.float64(3947.8760363068186)